__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/

.ipynb_checkpoints/

*.log
*.tmp
*.bak
*.cache

.streamlit/secrets.toml

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.swp
*.swo

.pytest_cache/
.mypy_cache/

node_modules/

*.hex
*.elf

backend/.env
.env
*.onnx
sentence-transformers/

**/secrets.h
